<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82764585193-u4jm8fvp1gd0n6te4s8m3fsf6edokngu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82764585193-u4jm8fvp1gd0n6te4s8m3fsf6edokngu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>82764585193-eiuhfu49id4og9n1m4hk7uj6rtipirst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_aCyR1Rek3pkGF3lKYQPLsfXpYtOTizo</string>
	<key>GCM_SENDER_ID</key>
	<string>82764585193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsnado.drink</string>
	<key>PROJECT_ID</key>
	<string>drink-2ce20</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-2ce20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82764585193:ios:48ee409c071c1c1885b878</string>
</dict>
</plist>